mixin mainNav
    nav.main-nav
        ul.main-nav__list
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                    span.main-nav__text Ольга
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                    span.main-nav__text Ольга
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                    span.main-nav__text Ольга
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                        span.main-nav__plus
                    span.main-nav__text Создать новый образ
            li.main-nav__item.main-nav__item--padding
                a(href="/").main-nav__link
                    .main-nav__circle
                        +icon('video', 'main-nav__icon main-nav__icon--big')
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                        +icon('appointments', 'main-nav__icon')
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                        +icon('chart', 'main-nav__icon')
            li.main-nav__item.main-nav__item--padding22
                a(href="/").main-nav__link
                    .main-nav__circle
                        +icon('info', 'main-nav__icon')
            li.main-nav__item
                a(href="/").main-nav__link
                    .main-nav__circle
                        +icon('settings', 'main-nav__icon')