.upload-btn {
    display: flex;
    padding-top: 30px;

    @media screen and (max-width: 768px) {
        padding-top: 15px;
    }

    &__field {
        display: none;
    }

    &__icon {
        fill: none;
        stroke: #000000;

        @include size(13px);
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #C4C4C4;
        border-radius: 6px;
        padding: 8px 45px;
        cursor: pointer;
        transition: 0.2s;

        @media screen and (max-width: 768px) {
            padding: 5px 30px;
        }

        @media screen and (max-width: 575px) {
            padding: 8px 20px;
            width: 100%;
        }
        
        &:hover {
            border: 1px solid #000000;

            .upload-btn__text {
                color: #000000;
            }
        }
    }

    &__text {
        display: block;
        padding-left: 10px;
        color: #323232;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        transition: 0.2s;

        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
}