.select {
    position: relative;

    &--opened {
        .select__header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .select__body {
            display: block;
        }

        .select__arrow {
            transform: rotate(0);

            path {
                stroke: #C4C4C4;
            }
        }

        ul.calculator__list {
            display: flex;
        }
    }

    &__arrow {
        transition: 0.2s;
        fill: transparent;
        stroke: #C4C4C4;

        @include size(15px);
    }

    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #C4C4C4;
        border-radius: 6px;
        outline: none;
        padding: 10px 16px;
        font-size: 16px;
        line-height: 19px;
    }

    &__current {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #C4C4C4;
    }

    &__body {
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        background-color: #ffffff;
        border-left: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 15px 16px;
        font-size: 16px;
        line-height: 90%;
        color: #C4C4C4;
        transition: 0.2s;

        @media screen and (max-width: 420px) {
            font-size: 14px;
            line-height: 1;
        }

        &:hover {
            color: #000000;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #C4C4C4;
        }
    }
}
