.btn {
    display: block;
    outline: none;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    color: #4F4F4F;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background-color: transparent;

    &:hover {
        color: #000000;
        border: 1px solid #000000;
    }
}

@import 'upload-btn/upload-btn';